networks:
  monitor_network:
    driver: bridge
    internal: false

services:
  marzban-monitor:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: marzban-node-monitor:latest
    env_file: .env
    restart: unless-stopped
    networks:
      - monitor_network
    volumes:
      - .:/app
    dns:
      - 8.8.8.8
      - 8.8.4.4

  redis:
    image: redis:latest
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD} --bind 0.0.0.0 --port ${REDIS_PORT}
    networks:
      - monitor_network
    dns:
      - 8.8.8.8
      - 8.8.4.4
